
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

body {

  background: #ffffff;
  color: #2e2e2e;
}
.menu-icon {
  font-size: 34px;

  cursor: pointer;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: white;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.header-left .logo {
  height: 40px;
}


.header-title {
  flex: 1;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #696563;
}


.header-right {
  width: 40px;
  display: flex;
  justify-content: flex-end;
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
  color: #4e3d36;
}


.logo {
  height: 40px;
  margin-right: 10px;
}

header h1 {
  font-size: 24px;
  font-weight: 700;
  color: #4e3d36;
}


.tabs {
  display: flex;
  justify-content: space-between; /* push left and right groups apart */
  align-items: center;
  padding: 20px 26px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.tabs-left,
.tabs-right {
  display: flex;
  gap: 30px; 
}


.tab img {
  height: 50px;
  margin-bottom: 3px;
}




/* Card Styling */
.studio-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  background-color: #fff;
}

.studio-card.yellow {
  background-color: #fefaf1;
}

.card-content {
  width: 70%;
   padding: 16px 12px 16px 16px;
}

.mon{
  height: 55px;
  width: 35px;
  margin-top: 6px;
}
.card-content h2 
{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.stars{
  margin-bottom: 4px;
  margin-top: 14px;
}
.stars2 {
  margin-bottom: 4px;
  margin-left: -10px;
}

.card-content p {
  font-size: 14px;
  color: #333;
  margin-bottom: 32px;
}

.stats {
  display: flex;
  gap: 30px;
  margin-top: 12px;
  text-align: center;
}

.stats div {
  font-size: 0.75rem; 
  color: #555;
}

.stats strong {
  font-size: 1.6rem; 
  font-weight: 700;
  display: block;
  margin-bottom: -20px;
  color: #000;
}


.phones p {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 4px;
}

/* Divider Line */
.divider {
  width: 1px;
  background-color: #f1f0f0;
  margin: 0 10px;
}

/* Card Actions */
.card-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1; 
  padding-left: 10px;
}

.card-actions .action img {
  height: 49px; 
  margin-bottom: -10px;
}

.card-actions .action {
  margin: 12px 0; 
  text-align: center;
}

.shortlist-filter.active {
  background-color: #ef8220;
  color: white;
  border-radius: 8px;
}
